/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "all";

 .center-column{
  float: none !important;
  margin: 0 auto !important;
}

nav {
  background-color: $black-grey;
  border-bottom: 4px solid;
  -webkit-animation: color-fade 10s infinite;
  -moz-animation: color-fade 10s infinite;
  animation: color-fade 10s infinite;
}

@-webkit-keyframes color-fade {
  0% { border-bottom-color: #33d997; }
  25% { border-bottom-color: #fffc0c; }
  50% { border-bottom-color: #0098e4; }
  75% { border-bottom-color: #06fbff; }
  100% { border-bottom-color: #7606ff; }
}

@-moz-keyframes color-fade {
  0% { border-bottom-color: #33d997; }
  25% { border-bottom-color: #fffc0c; }
  50% { border-bottom-color: #0098e4; }
  75% { border-bottom-color: #06fbff; }
  100% { border-bottom-color: #7606ff; }
}

@keyframes color-fade {
  0% { border-bottom-color: #33d997; }
  25% { border-bottom-color: #fffc0c; }
  50% { border-bottom-color: #0098e4; }
  75% { border-bottom-color: #06fbff; }
  100% { border-bottom-color: #7606ff; }
}