// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "all";

header.home-bg{
  background-image: url('/assets/home-bg-1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  div.bg-text {
    padding-top: 35vh;
    h1, H4 {
      color: #fff;
      text-align: center;
      letter-spacing: 12px;
    }
    .appt-btn{
      outline: 6px solid $white;
      padding: 0em 1.5em !important;
      letter-spacing: 3px;
      background: none;
    }
  }
  div.bg-text-mobile {
    display: none;
    padding-top: 15vh;
    h1 {
      color: #fff;
      text-align: left;
      margin-left: 20px;
      letter-spacing: 8px;
    }
    .appt-btn{
      outline: 6px solid $white;
      padding: 0px;
      letter-spacing: 3px;
      background: none;
    }
  }
}